@import "tailwindcss";

@theme {
	--font-sans: "Inter", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	
	/* Custom Colors based on the design */
	--color-brand-black: #000000;
	--color-brand-gray: #F9F9F9; /* Background */
	--color-brand-text: #111111;
	--color-brand-text-muted: #666666;
}

@layer base {
	body {
		font-family: var(--font-sans);
		background-color: var(--color-brand-gray);
		color: var(--color-brand-text);
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}
